# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build files
build/
dist/
.cache/
.next/

# OS files
.DS_Store

# Logs
*.log
npm-debug.log*

# IDE files
.idea/
.vscode/

# Temporary/editor files
*.swp
*.swo
*~
.env.*.local


